body {
    margin: 0;
}

form {
    width: 100%;
    border: 15px solid #bce7e7;
}

p {
    text-transform: uppercase;
    color: grey;
}

div {
    border: 1px solid grey;
}

input[type="text"] {
    background-color: transparent;
    border: 0 10px solid;
    height: auto;
    color: #CCC;
    text-align: left;
}

input {
    font-family: arial;
    font-size: 100%;
}

#box {
    border-radius: 5px;
    display: inline
}

#top {
    display: inline-flex;
    position: relative;
}

#middle {
    display: inline-flex;
    position: relative;
    border: 2px;
}

#botton {
    display: inline-flex;
    box-sizing: border-box;
    border: 2px;
}

button {
    display: inline-flex;
    align-content: center;
    color: white;
    background-color: green;
    border-radius: 4px;
}