body {
    margin: 0;
    border: 15px solid #bce7e7;
}

p {
    text-transform: uppercase;
    padding-left: 20px;
    font-size: 15px;
    font-weight: bolder;
    color: grey;
}

div {
    background-color: white;
    border: 1px solid grey;
    height: 80px;
}

input {
    background-color: white;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    border: none;
}

span {
    padding-left: 22px;
    position: relative;
    top: 5px;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 6px 120px;
    font-family: fantasy;
    color: white;
    background-color: green;
    border-radius: 4px;
}

button:hover {
    background-color: orange;
    font-stretch: 20px extra-expanded;
}

.top {
    display: inline-flex;
    border: 1px solid grey;
}

#name #company {
    width: 50%;
    border: 1px solid grey;
}

.middle {
    display: inline-flex;
    border: 1px solid grey;
}

#phone #email #availability {
    width: 33%;
    border: 1px solid grey;
}

.bottom {
    display: inline-flex;
    border: 1px solid grey;
}

#skill #colour #language #experience {
    width: 25%;
    border: 1px solid grey;
}

#button {
    padding: 20px;
    border: 1px solid grey;
    height: auto;
}